@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: var(--primary-color, hsla(160, 100%, 37%, 1));
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    /* Utiliser la variable de couleur de votre app plutôt qu'un fond */
    color: var(--hover-color, hsla(160, 100%, 37%, 1));
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* Suppression de la mise en page en grille pour #app car elle est traitée dans App.vue */
  #app {
    padding: 0;
  }
}
